@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');


/* variables, em teste */
:root{
    --gridSize: 16;
}

/* start style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 1fr);
    grid-template-rows: repeat(var(--gridSize),1fr);
    height: 100vh;
    width: 100vh;
}

.box{
    aspect-ratio: 1;

    /* background-color: rgba(0, 119, 255, 0.637); */
    border: 1px solid whitesmoke;
}

.box:hover{
    background-color: lightblue;
    border-style: dashed;
}