@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap');


/* variables, em teste */
:root{
    --gridSize: 16;
    --paintColor: lightblue;
}

/* start style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    min-width: fit-content;
    height: 100%;
    background-color: #f7f7f8;
    border-right: 1px solid #d3d3d34d;
    padding: 25px 15px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 1fr);
    grid-template-rows: repeat(var(--gridSize),1fr);
    /* height: 80vh; */
    width: 50%;
}

/* .grid-container:after{
    padding-bottom: 100%;
} */

.box{
    aspect-ratio: 1;

    /* background-color: rgba(0, 119, 255, 0.637); */
    border: 1px solid whitesmoke;
}

.box:hover{
    background-color: var(--paintColor);
    border-style: dashed;
}

.active{
    background-color: var(--paintColor);
}

.btn-grid-size{
    width: 120px;
    height: 36px;
    border-radius: 8px;
    border-style: none;
    color: ghostwhite;
    background-color: dodgerblue;

}

button:hover{
    transform: scale(1.10);
    transition: all 0.15s;
}


.paint-color{
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: none;
}
.paint-color::-webkit-color-swatch{
    border: none;
    border-radius: 10px;
}

#rainbow-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#rainbow-div > label{
    padding: 0 5px;
    background: linear-gradient(to right, #ef5350,
     #f48fb1, #7e57c2, #2196f3,#26c6da, #43a047,
      #eeff41,#f9a825, #ff5722);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
}

.rainbow-check{
    width: 20px;
    height: 20px;
}
